<h2>All subs</h2>
<a href="<%= new_sub_url %>">Create Sub</a>
<ul>
  <% @subs.each do |sub| %>
      <li>
      <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
    </li>
  <% end %>
</ul>
<a href="<%= new_post_url %>">Create Post</a>
